.footer {
  width: 100%;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    width: 100%;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
      & {
        margin-top: 15px;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1.4rem;
    line-height: 1.2;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      & {
        row-gap: 25px;
      }
    }

    @media screen and (max-width: 768px) {
      & {
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }

  &__link {
    opacity: 0.5;
    letter-spacing: 0.2rem;

    &:hover {
      opacity: 1;
    }
  }
}
