@import "reset.scss";
@import "fonts.scss";
@import "common.scss";

@import "mixins.scss";

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #faf0e6;
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.wrapper {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
